<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/header.ejs') %>
    <a href="/new">Add a new message!</a>
    <main>
      <% messages.forEach((message) => { %>

      <div>
        <p><%= message.user %></p>
        <p><%= message.date %></p>
        <div>
          <h2><%= message.title %></h2>
          <p><%= message.text %></p>
        </div>
      </div>

      <% }) %>
    </main>
  </body>
</html>
